<div class="navbar-inner" data-ng-controller="HeaderController">
    <div class="navbar-brand">
        <a href="" ui-sref="home" mean-token="'site-title'" class="logo">
            <img src="xenontheme/assets/img/xenon/logo-white-bg@2x.png" width="80" alt="" class="hidden-xs">
            <img src="xenontheme/assets/img/xenon/logo@2x.png" width="80" alt="" class="visible-xs">
        </a>
        <a href="#" ui-sref="home" mean-token="'site-title'" data-toggle="settings-pane" data-animate="true">
            <i class="linecons-cog"></i>
        </a>
    </div>

    <ul class="navbar-nav">
        <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ui-sref-active-eq="active" ng-class="{active: $uiRoute}">
            <a mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
        </li>
    </ul>

</div>