.xenontheme-example h1 {
    background-color: purple
}

/*Top margin sidebar*/
.navbar.horizontal-menu.navbar-fixed-top.navbar-minimal+.page-container>div>.sidebar-menu .sidebar-menu-inner {
    top: 55px;
}

/*Flecha en sidebar*/
.page-body.skin-white .sidebar-menu .main-menu li.has-sub>a:before {
    color: #000;
}

/*select border*/
.ui-select-bootstrap > .ui-select-match > .btn {
    border-color: #e4e4e4;
}

/*form validations*/
form .form-group.validate-has-error .form-control + div {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}
form .form-group.validate-has-error .input-group + div {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}
form .form-group.validate-has-error .ui-select-container + div {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}

.ui-select-bootstrap button{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}