<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body data-ng-controller="XenonthemeController" ng-cloak class="ng-cloak page-body skin-white" ng-class="state">
    <nav class="navbar horizontal-menu navbar-fixed-top navbar-minimal" data-ng-include="'/xenontheme/views/header.html'" data-role="navigation"></nav>
    {% if adminEnabled %}
    <section class="admin-menu">
        <div data-ng-include="'/mean-admin/views/index.html'"></div>
    </section>
    {% endif %}
    <div class="page-container">
        {% block content %}{% endblock %}
    </div>
    {% include '../includes/foot.html' %}
</body>

</html>